.board {
	position: relative;
	width: 500px;
	margin: 40px;
}
	.board:before {
		content: 'A B C D E F G H';
		position: absolute;
		top: -20px;
		left: 22px;
		letter-spacing: 22.8px;
	}
	.board:after {
		content: '1 2 3 4 5 6 7 8';
		position:absolute;
		letter-spacing: 25px;
		top: 2px;
		left: 500px;
		width: 30px;
		line-height: 62px;
		font-weight: bold;
	}

.row-1 .square:nth-child(even) {
	background:#000000;
}
.row-2 .square:nth-child(odd) {
	background:#000000;
}


.piece {
	width: 48px;
	height: 48px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px; 
	border: 1px solid;
	position: absolute;
}
	.piece--white {
		background: white;
		border-color: black;
	}
.piece--black {
		background: black;
		border-color: white;
	}

.piece--white--king{
			background: gold;
}
.piece--black--king{
			background: silver;

}

.square {
	width: 50px;
	height:50px;
    border: 1px solid black;
    padding: 5px;
    margin:0px 0px 0px 0px;
    display: inline-block;
}